
#menuPage > h1{
    font-family: 'Perandory Semi-Condensed';
    font-size: 4em;    
    line-height: normal;
}

#menuPage > p{
 text-align: center;
}


#menuCard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 5fr;
    background-color: #3f4238;
    position: relative;
    height: 1000px;
    width: 700px;
    overflow: hidden;
    padding: 40px;
    margin: 0 auto;
}
#menuTitle{
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
    z-index: 2;
}

#divFoods{
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: 2;
}

#divBreakfast{
    display: flex;

}
#bfFood{
    grid-area: 2 / 1 / 3 / 2;
}

#menuTitle h1, #menuTitle h3, #divFoods h2{
    font-family: 'Perandory Semi-Condensed';
    font-size: 1.5em;
    color: #cae6d5;
}

#divFoods p{
    color: #cae6d5;
    font-size: 1em;
    font-weight: 600;
    margin: 5px 0;

}

#menuTitle h1{
    font-size: 4em;
}


.template > div{
    display: flex;
    justify-content: space-between;
}    



/* Images */
#menuCard img, #menuFooter{
    position: absolute;
    z-index: 1;
}

#foodItem1{
    top: -170px;
    right: -175px;
}
#foodItem2, #foodItem3{
    width: 300px;
    height: auto;
}
#foodItem2{
    top: 400px;
    right: -150px;
}
#foodItem3{
    bottom: -70px;
    right: -120px;
}

#menuFooter{
    font-family: 'Perandory Semi-Condensed';
    color: #cae6d5;
    font-size: 2em;
    bottom: 5%;
    left: 40%;
    transform: translateX(-40%);
}